@font-face {
  font-family: typewriter;
  src: url(myoldrem.ttf);
}

@font-face {
  font-family: form;
  /* src: url('./biko/Biko_Regular.otf'); */
  src: url('Renner.ttf');
}

head, body {
  padding: 0
}

body {
  padding: 1em;
  font-family: form;
}


table.form {
  border-collapse: collapse;
  border: solid 1px #aaa;
  table-layout: fixed;
  width: 100%;
}
  
table.form td {
  position: relative;
  font-family: typewriter;
  font-size: 20px;
  color: #555;
  border: 1px solid #aaa;
  padding: 1em;
  text-align: left;
}

table.form td label {
  position: absolute;
  left: 0.3em;
  top: .15em;
  color: black;
  font-family: form;
  font-size: 0.5em;
}