@font-face {
  font-family: typewriter;
  src: url(./fonts/myoldrem.ttf);
}

@font-face {
  font-family: form;
  src: url('./fonts/Renner.ttf');
  src: url('./fonts/biko/Biko_Regular.otf');
}

@media print {
  @page {
    margin: .25in;
  }
}

head, body {
  padding: 0
}

body {
  padding: 1em;
  font-family: form, 'Courier New', Courier, monospace;
}

h1,h2 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.25em;
}

@media print {
  .noprint {
    display:none !important;
  }
}
